@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Spartan:wght@400;500;700&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    background-color: var(--very-light-gray);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.top {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top h1 {
    font-size: 2.8rem;
    font-weight: 600;

    color: var(--very-dark-blue);
}

.top span {
    font-weight: 200;
}

.top h2 {
    margin-top: 2rem;
    margin-bottom: 7rem;

    max-width: 400px;

    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grayish-blue);
}

.cards {
    display: flex;
    align-items: center;

    margin: 0rem 2.5rem;
}

.card {
    display: flex;
    flex-direction: column;

    background-color: #fff;
}

.card-image {
    align-self: flex-end;
}

.card-title {
    margin-bottom: 4.5rem;
}

.card-title h2 {
    margin-bottom: 1.2rem;
    color: var(--very-dark-blue);
}

.card-title p {
    color: var(--grayish-blue);
}

.card-single {
    max-width: 370px;
    max-height: 260px;

    padding: 3.5rem 3.5rem 3.2rem 3.2rem;

    border-top: 0.4rem solid;
    border-radius: 0.4rem;

    box-shadow: 0px 10px 40px -20px var(--grayish-blue);
}

.card-single:nth-child(1) {
    border-top-color: var(--cyan);
}

.card-double .card-single:nth-child(1) {
    border-top-color: var(--red);
}

.card-double .card-single:nth-child(2) {
    border-top-color: var(--orange);
}

.card-single:nth-child(3) {
    border-top-color: var(--blue);
}

.card-double {
    margin: 0rem 3.2rem;

    background-color: var(--very-light-gray);
}

.card-double .card-single:nth-child(1) {
    margin-bottom: 3.2rem;
}

@media (max-width: 1250px) {
    main {
        height: auto;

        margin: 9.5rem 0rem;
    }

    .top h1 {
        font-size: 2.5rem;
    }

    .top h2 {
        padding: 0rem 6rem;

        font-size: 1.3rem;
    }

    .cards {
        flex-direction: column;
    }

    .card-single {
        margin-bottom: 2.5rem;
    }

    .card-double {
        margin: 0;
    }

    .card-title {
        margin-bottom: auto;
    }
}
